@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;

  h1 {
    flex-grow: 2;
  }

  * {
    flex-grow: 1;
  }
}

hr {
  margin: 0.5rem 0;
}

.v-table {
  width: 100%;
}

.v-expansion-panel-text__wrapper {
  padding: 8px 8px 16px !important;
}